{% extends 'base.html' %}
{% block content %}
<div class="page-contents mt-5 d-flex justify-content-center align-items-center">
  <!-- Added enctype to enable file upload -->
  <form class="row" method="POST" action="{{ url_for('saveOrder') }}" enctype="multipart/form-data">
    <div class="col-8">
      <label for="formFile" class="form-label mb-1">ZIP File</label>
      <input class="form-control form-control-sm" type="file" name="orderFile" id="formFile" accept=".zip" required>
    </div>
    <div class="col-4">
      <label for="formFile" class="form-label mb-1">&nbsp;</label><br />
      <button type="submit" class="btn btn-sm btn-primary mb-3">Upload</button>
    </div>
  </form>
</div>
</div>

<!-- Flash Messages for Success/Failure -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<!-- Set the flash message as the modal content -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var flashMessage = '{{ messages[0] }}';
    // Set the content of the modal dynamically
    document.getElementById('modalBody').innerText = flashMessage;

    // Trigger the modal to open
    var myModal = new bootstrap.Modal(document.getElementById('popupModal'));
    myModal.show();
  });
</script>
{% endif %}
{% endwith %}
</div>

<!-- Bootstrap Modal for Success Message -->
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupModalTitle">Order Upload Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody">
        <!-- Flash message will be dynamically inserted here -->
      </div>
    </div>
  </div>
</div>
{% endblock %}