{%extends 'base.html'%} {%block content%}
<div class="page-contents">
  <h1 class="text-center">Order List</h1>
  <div class="mt-5">
    {% if orders %}
    <table class="table table-sm table-bordered table-striped data-table">
      <thead>
        <tr>
          <th>Britannia Code</th>
          <th>Tag Name</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Failed message</th>
          <th>Date/Time</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{ order['order_id'] }}</td>
          <td>{{ order['tag_list'] }}</td>
          <td>{{ order['customer_name'] }}</td>
          <td>{{ order['status'] }}</td>
          <td>{{ order['error'] }}</td>
          <td>{{ order['created_date_time'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="d-flex justify-content-end">
      <nav>
        <ul class="pagination justify-content-center">
          <!-- Previous Button -->
          {% if page > 1 %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('Orderlist', page=page-1) }}"
              >Previous</a
            >
          </li>
          <li class="page-item">
            <a class="page-link" href="{{ url_for('Orderlist', page=1) }}"
              >First</a
            >
          </li>
          {% endif %}

          <!-- Page Numbers -->
          {% if total_pages <= 7 %} {% for num in range(1, total_pages + 1) %}
          <li class="page-item {% if num == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('Orderlist', page=num) }}"
              >{{ num }}</a
            >
          </li>
          {% endfor %} {% else %}
          <!-- Show first three pages -->
          {% for num in range(1, 4) %}
          <li class="page-item {% if num == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('Orderlist', page=num) }}"
              >{{ num }}</a
            >
          </li>
          {% endfor %}

          <!-- Show dots if necessary -->
          {% if page > 5 %}
          <li class="page-item disabled"><a class="page-link">...</a></li>
          {% endif %}

          <!-- Show middle page if not too close to edges -->
          {% if page > 3 and page < total_pages - 2 %}
          <li class="page-item active">
            <a class="page-link" href="{{ url_for('Orderlist', page=page) }}"
              >{{ page }}</a
            >
          </li>
          {% endif %}

          <!-- Show dots if necessary -->
          {% if page < total_pages - 4 %}
          <li class="page-item disabled"><a class="page-link">...</a></li>
          {% endif %}

          <!-- Show last three pages -->
          {% for num in range(total_pages - 2, total_pages + 1) %}
          <li class="page-item {% if num == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('Orderlist', page=num) }}"
              >{{ num }}</a
            >
          </li>
          {% endfor %} {% endif %}

          <!-- Next Button -->
          {% if page < total_pages %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('Orderlist', page=page+1) }}"
              >Next</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('Orderlist', page=total_pages) }}"
              >Last</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    {% else %}
    <p>No labels found in the database.</p>
    {% endif %}
  </div>
</div>
{%endblock%}
