{%extends 'base.html'%} {%block content%}
<div class="page-contents">
  <h1 class="text-center">Tag List</h1>

  <div class="mt-5">
    {% if labels %}
    <table class="table table-sm table-bordered table-striped data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Label Name</th>
          <th>Type</th>
          <th>Thumbnail</th>
        </tr>
      </thead>
      <tbody>
        {% for label in labels %}
        <tr>
          <td>{{ label['id'] }}</td>
          <!-- Accessing the ID column by key -->
          <td>{{ label['label_name'] }}</td>
          <!-- Accessing the label name column by key -->
          <td>
            {% if label['dynamic']|int == 1 %} Dynamic {% else %} Static {%
            endif %}
          </td>
          <!-- Accessing the dynamic column and conditionally display "Dynamic" or "Static" -->
          <td>
            <!-- Displaying the SVG Thumbnail -->
            <img
              src="{{ url_for('static', filename='svg/' + label['frontLabel']) }}"
              alt="Front side"
              style="max-width: 100px; height: 100px; object-fit: contain"
            />
            {% if label['dynamic']|int == 1 %} {% if label['backLabel'] %}
            <img
              src="{{ url_for('static', filename='svg/' + label['backLabel'])}}"
              alt="Back side"
              style="max-width: 100px; height: 100px; object-fit: contain"
            />
            {% endif %} {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="d-flex justify-content-end">
      <nav>
        <ul class="pagination justify-content-center">
          <!-- Previous Button -->
          {% if page > 1 %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('Taglist', page=page-1) }}"
              >Previous</a
            >
          </li>
          <li class="page-item">
            <a class="page-link" href="{{ url_for('Taglist', page=1) }}"
              >First</a
            >
          </li>
          {% endif %}

          <!-- Page Numbers -->
          {% if total_pages <= 7 %} {% for num in range(1, total_pages + 1) %}
          <li class="page-item {% if num == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('Taglist', page=num) }}"
              >{{ num }}</a
            >
          </li>
          {% endfor %} {% else %}
          <!-- Show first three pages -->
          {% for num in range(1, 4) %}
          <li class="page-item {% if num == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('Taglist', page=num) }}"
              >{{ num }}</a
            >
          </li>
          {% endfor %}

          <!-- Show dots if necessary -->
          {% if page > 5 %}
          <li class="page-item disabled"><a class="page-link">...</a></li>
          {% endif %}

          <!-- Show middle page if not too close to edges -->
          {% if page > 3 and page < total_pages - 2 %}
          <li class="page-item active">
            <a class="page-link" href="{{ url_for('Taglist', page=page) }}"
              >{{ page }}</a
            >
          </li>
          {% endif %}

          <!-- Show dots if necessary -->
          {% if page < total_pages - 4 %}
          <li class="page-item disabled"><a class="page-link">...</a></li>
          {% endif %}

          <!-- Show last three pages -->
          {% for num in range(total_pages - 2, total_pages + 1) %}
          <li class="page-item {% if num == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('Taglist', page=num) }}"
              >{{ num }}</a
            >
          </li>
          {% endfor %} {% endif %}

          <!-- Next Button -->
          {% if page < total_pages %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('Taglist', page=page+1) }}"
              >Next</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('Taglist', page=total_pages) }}"
              >Last</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    {% else %}
    <p>No labels found in the database.</p>
    {% endif %}
  </div>
</div>
{%endblock%}
