{% extends 'base.html' %}
{% block content %}
<style>
   .form-box{
      margin:20rem
    }
</style>
<div class="page-contents form-box justify-content-center align-items-center mt-5">
  <form class=" " action="/saveTest" method="post" enctype="multipart/form-data">
    <div class="col-md-12 mb-3">
        <input class="form-check-input test_mode" type="checkbox" value="1" name="test_mode" id="test_mode" style="transform: scale(1.5);outline: 5px green;" {% if test_mode_data.test_mode == 1 %}checked{% endif %}>
        <label class="form-check-label" for="test_mode">
          Test mode
        </label>
      </div>
    <div class="row g-3">
        <label class="form-label text-danger">add multiple email id with comma separation</label>
      <div class="col-md-12">
        <label for="to_mailids" class="form-label mb-1">To email</label>
        <textarea class="form-control form-control-sm" name="to_emailids" type="text" id="to_emailids">{{ test_mode_data.to_emailids }}</textarea>
      </div>
      <div class="col-md-12">
        <label for="Cc" class="form-label mb-1">Cc</label>
        <textarea class="form-control form-control-sm" name="cc_emailids" type="text" id="Cc">{{ test_mode_data.cc_emailids }}</textarea>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <center> <button type="submit" class="btn btn-sm btn-primary">Save</button></center>
    </div>
</div>
</form>
</div>
</div>

<!-- Flash Messages for Success/Failure -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<!-- Set the flash message as the modal content -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var flashMessage = '{{ messages[0] }}';
    // Set the content of the modal dynamically
    document.getElementById('modalBody').innerText = flashMessage;

    // Trigger the modal to open
    var myModal = new bootstrap.Modal(document.getElementById('popupModal'));
    myModal.show();
  });
</script>
{% endif %}
{% endwith %}
</div>

<!-- Bootstrap Modal for Success Message -->
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupModalTitle">Tag Upload Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody">
        <!-- Flash message will be dynamically inserted here -->
      </div>
    </div>
  </div>
</div>
{% endblock %}